{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <h2>Register</h2>
    <form method="post" action="{{url_for('register')}}">
        {{form.hidden_tags()}}
        <p>
            {{form.username.label}}<br>
            {{form.username(size=32)}}
        </p>
        <p>
            {{form.email.label}}<br>
            {{form.email(size=32)}}
        </p>
        <p>
            {{form.password.label}}<br>
            {{form.confirm_password(size=32)}}
        </p>
        <p>
            {{form.submit()}}
        </p>
    </form>